.carousel-item{
    max-height: 500px;
}

h3{
    color: #fff;
}

h5{
    color: #fff;
}


#footer{
    background-color: #4ba2e7;
}

ul, ol{
    list-style: none;
}

.footerLinks{
    display: flex;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footerLinks a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover{
    color: black;
    font-size: 22px;
    transition: 1s;
}
.navbar{
    color: black;
    transition: 1s;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10%;
}

body{
    margin:0;
    padding: 0;
}

.contenedor{
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

.articulo__venta{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
}

.articulo__venta .img{
    width: 100%;
    height: auto;
}

.ventas .contenedor{
    display: grid;

}

.boton-agregar{
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}


/*MEDIA QUERIES*/


/* Extra small devices (phones, 600px and down) a */
@media only screen and (max-width: 600px) {
    .ventas .contenedor{
        grid-template-columns: repeat(1,100%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ventas .contenedor{
        grid-template-columns: repeat(1,100%);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .ventas .contenedor{
        grid-template-columns: repeat(2,60%);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .ventas .contenedor{
        grid-template-columns: repeat(3,33.3%);
    }

    .articulo__venta{
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        width: 270px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ventas .contenedor{
        grid-template-columns: repeat(3,33.3%);
    }

    .articulo__venta{
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        width: 270px;
    }
}

@media only screen and (min-width: 1400px) {
    .ventas .contenedor{
        grid-template-columns: repeat(4,25%);
    }
}