.carousel-item{
    max-height: 500px;
}

h3{
    color: #fff;
}

h5{
    color: #fff;
}


#footer{
    background-color: #4ba2e7;
}

ul, ol{
    list-style: none;
}

.footerLinks{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footerLinks a{
    text-decoration: none;
    color: #fff;
}

