*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*///////////////////GRIDS///////////////////*/
#pruebaGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*primera columna, segunda columna, tercera columna, etc etc*/
    grid-template-rows: repeat(2,200px); /*los fr son fracciones 1fr 2fr del 100% disponible*/
    gap: 20px;
}
#pruebaGrid2{
    display: grid;
    grid-template-columns: repeat(5,1fr); /*primera columna, segunda columna, tercera columna, etc etc*/
    grid-template-rows: repeat(2,200px); /*los fr son fracciones 1fr 2fr del 100% disponible*/
    gap: 20px;
    margin-top: 300px;
    grid-template-areas: "hijoGridPrueba1 hijoGridPrueba1 hijoGridPrueba2 hijoGridPrueba3 hijoGridPrueba4"/*Fila1*/
    "hijoGridPrueba1 hijoGridPrueba1 hijoGridPrueba2 hijoGridPrueba3 hijoGridPrueba "/*Fila2*/;
}

.hijoGridPrueba1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.hijoGridPrueba2{
    grid-area: hijoGridPrueba2;
}

.hijoGridPrueba3{
    grid-area: hijoGridPrueba3;
}

.hijoGridPrueba4{
    grid-area: hijoGridPrueba4;
}


.boxGrid img{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px){
    #pruebaGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,200px);
        grid-template-areas: "hijoGridPrueba2"
        "hijoGridPrueba3"
        "hijoGridPrueba4";
    }

    #footer{
        
    }

}